html,
body,
#root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}
canvas{
    touch-action: none;
}

.welcome-text{
    color: white;
    padding: 1rem;
    user-select: none;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;

}

